<div class="bg-gray-100 p-12">
    <h2 class="text-3xl">Get the FreshCart app</h2>
    <p class="text-gray-400 py-3 text-lg">We will send you a link, open it on your phone to download the app.</p>

    

    <form class="flex items-center max-w-8xl mx-auto">  
        
        
        <label for="voice-search" class="sr-only">Search</label>


        <div class="relative max-w-5xl w-full">

            <input type="text" id="voice-search" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" placeholder="Email .." required />
            <button type="button" class="absolute inset-y-0 end-0 flex items-center pe-3">
            </button>
        </div>

        <button type="submit" class="max-w-4xl inline-flex items-center py-2.5 px-6 ms-5 text-sm font-medium text-white bg-green-500 rounded-lg border border-green-500 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
            Share App Link
        </button>
    </form>



    <div class="w-full h-[1px] bg-gray-200 my-8 "></div>





    <div class="flex items-baseline">
        <div class="flex gap-6 p-2 w-[50%] items-center">
            <p class="text-[20px]">Payment partners</p>
            <img class="w-[7%]" src="/images/amazon-pay.png" alt="">
            <img class="w-[7%]" src="/images/American-Express-Color.png" alt="">
            <img class="w-[7%]" src="/images/mastercard.webp" alt="">
            <img class="w-[7%]" src="/images/paypal.png" alt="">
          
            </div>

            <div class="flex items-center w-[50%] gap-4">
                <p class="text-[20px]">Get deliveries with FreshCart</p>
                <img class="w-[15%]" src="/images/get-apple-store.png" alt="">
                <img class="w-[15%]" src="/images/get-google-play.png" alt="">
            </div>
    </div>







    <div class="w-full h-[1px] bg-gray-200 my-8 "></div>





    
    


</div>