
  <div class="grid md:grid-cols-[70%_minmax(0,1fr)]">
   <div>
    <owl-carousel-o [options]="customMainSlider">
      <ng-template carouselSlide>
           <img class=" w-full h-[300px]" src="/images/img1.avif">
        </ng-template>
      <ng-template carouselSlide>
           <img class=" w-full h-[300px]" src="/images/img2.avif">
        </ng-template>
      <ng-template carouselSlide>
           <img class=" w-full h-[300px]" src="/images/img3.avif">
        </ng-template>
      <ng-template carouselSlide>
           <img class=" w-full h-[300px]" src="/images/img4.avif">
        </ng-template>
      <ng-template carouselSlide>
           <img class=" w-full h-[300px]" src="/images/img5.avif">
        </ng-template>
      <ng-template carouselSlide>
           <img class=" w-full h-[300px]" src="/images/img6.avif">
        </ng-template>
      <ng-template carouselSlide>
           <img class=" w-full h-[300px]" src="/images/img7.avif">
        </ng-template>
      </owl-carousel-o>
   </div>


   <div>
    <img class="w-full h-[150px]" src="/images/grocery-banner.png" alt="">
    <img class="w-full h-[150px]" src="/images/grocery-banner-2.jpeg" alt="">
  </div>
  

  </div>
  




<div class="text-3xl pt-5">Shop Popular Categories</div>
  <owl-carousel-o [options]="customOptions">

    @for (item of allProducts; track $index) {

        <ng-template carouselSlide>
            <img [src]="item.imageCover">
          </ng-template>
    }

      

  </owl-carousel-o>
  <div class="font-semibold text-gray-900 py-5">Some of our categories</div>

<div class="grid sm:grid-cols-1  lg:grid-cols-2 xl:grid-cols-6 gap-3">

@for (product of allProducts; track $index) {

    <app-card [cardProduct]="product"></app-card>
}

</div>